{{>layout/header}}

<div style="display: flex ; justify-content: space-between; margin-top:50px; ">
    <div></div>
    <h1 style="font-size:40px">코질코질</h1>
    {{#myName}}
        <div style="margin-right:20px ">
            <span id="user" style="font-size: 15px">이름 : <a href="/mypage/{{myId}}">{{myName}}</a></span>
            <br>
            <span id="email" style="font-size: 15px">이메일 : {{myEmail}}</span>
            <span><a href="/logout" class="btn btn-info active" role="button"
                     style="font-size: 10px ; margin-right: 40px;">Logout</a></span>
        </div>
    {{/myName}}
    {{^myName}}
        <div style="margin-right:20px">
            <button type="button" class="btn btn-success active" id="btn-login-google" style="font-size: 20px">Google Login</button>
        </div>
    {{/myName}}
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary" style="margin-left:120px">글 등록</a>
            <!--            현재 세션유저-->
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <div style="padding:0 120px">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr style="width:100%">
                <th style="text-align:center ; width: 30%;">제목</th>
                <th style="text-align:center ; width: 20%;">작성자</th>
                <th style="text-align:center ; width: 10%;">댓글 수</th>
                <th style="text-align:center ; width: 20%;">최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <!--        게시물-->

            {{#posts}}
                <tr style="font-size:20px">
                    <td style="text-align:center"><a href="/posts/lookup/{{id}}">{{title}}</a></td>           <!-- 게시물 id -->
                    <td style="text-align:center"><a href="/mypage/{{user.id}}">{{author}}</a></td>
                    <td style="text-align:center"><span class="badge badge-info badge-pill">{{comments.size}}</span></td>
                    <!--PostsListResponseDto -> List<CommentResponseDto> -> size -->
                    <!-- 게시물 주인 id -->
                    <td style="text-align:center">{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
</div>

{{>layout/footer}}